@media (prefers-reduced-motion: no-preference) {
  .ui-PopperContent {
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  }
  .ui-PopperContent:where([data-state='open']) {
    animation-duration: 160ms;
  }
  .ui-PopperContent:where([data-state='open']):where([data-side='top']) {
    animation-name: ui-slide-from-top, ui-fade-in;
  }
  .ui-PopperContent:where([data-state='open']):where([data-side='bottom']) {
    animation-name: ui-slide-from-bottom, ui-fade-in;
  }
  .ui-PopperContent:where([data-state='open']):where([data-side='left']) {
    animation-name: ui-slide-from-left, ui-fade-in;
  }
  .ui-PopperContent:where([data-state='open']):where([data-side='right']) {
    animation-name: ui-slide-from-right, ui-fade-in;
  }
  .ui-PopperContent:where([data-state='closed']) {
    animation-duration: 100ms;
  }
  .ui-PopperContent:where([data-state='closed']):where([data-side='top']) {
    animation-name: ui-slide-from-top, ui-fade-out;
  }
  .ui-PopperContent:where([data-state='closed']):where([data-side='bottom']) {
    animation-name: ui-slide-from-bottom, ui-fade-out;
  }
  .ui-PopperContent:where([data-state='closed']):where([data-side='left']) {
    animation-name: ui-slide-from-left, ui-fade-out;
  }
  .ui-PopperContent:where([data-state='closed']):where([data-side='right']) {
    animation-name: ui-slide-from-right, ui-fade-out;
  }
}
