html.light {
  --light-0: white;
  --light-a1: var(--white-a1);
  --light-a2: var(--white-a2);
  --light-a3: var(--white-a3);
  --light-a4: var(--white-a4);
  --light-a5: var(--white-a5);
  --light-a6: var(--white-a6);
  --light-a7: var(--white-a7);
  --light-a8: var(--white-a8);
  --light-a9: var(--white-a9);
  --light-a10: var(--white-a10);
  --light-a11: var(--white-a11);
  --light-a12: var(--white-a12);
  --dark-0: black;
  --dark-a1: var(--black-a1);
  --dark-a2: var(--black-a2);
  --dark-a3: var(--black-a3);
  --dark-a4: var(--black-a4);
  --dark-a5: var(--black-a5);
  --dark-a6: var(--black-a6);
  --dark-a7: var(--black-a7);
  --dark-a8: var(--black-a8);
  --dark-a9: var(--black-a9);
  --dark-a10: var(--black-a10);
  --dark-a11: var(--black-a11);
  --dark-a12: var(--black-a12);
  --light-surface: white;
}

html.dark {
  --light-0: black;
  --light-a1: var(--black-a1);
  --light-a2: var(--black-a2);
  --light-a3: var(--black-a3);
  --light-a4: var(--black-a4);
  --light-a5: var(--black-a5);
  --light-a6: var(--black-a6);
  --light-a7: var(--black-a7);
  --light-a8: var(--black-a8);
  --light-a9: var(--black-a9);
  --light-a10: var(--black-a10);
  --light-a11: var(--black-a11);
  --light-a12: var(--black-a12);
  --dark-0: white;
  --dark-a1: var(--white-a1);
  --dark-a2: var(--white-a2);
  --dark-a3: var(--white-a3);
  --dark-a4: var(--white-a4);
  --dark-a5: var(--white-a5);
  --dark-a6: var(--white-a6);
  --dark-a7: var(--white-a7);
  --dark-a8: var(--white-a8);
  --dark-a9: var(--white-a9);
  --dark-a10: var(--white-a10);
  --dark-a11: var(--white-a11);
  --dark-a12: var(--white-a12);
  --light-surface: var(--slate-a1);
}
